@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300&display=swap');

body {
  padding: 1em;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #1d1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Flamenco', cursive;
}

@font-face {
  font-family: 'MechTech';
  font-style: normal;
  font-weight: bold;
  src: url(fonts/MechTechBold.woff) format('woff');
}

@font-face {
  font-family: 'MechTech';
  font-style: normal;
  src: url(fonts/MechTech.woff) format('woff');
}

@font-face {
  font-family: 'Flavors';
  font-style: normal;
  src: url(fonts/Flavors-Regular.woff) format('woff');
}



svg {
  width: 80%;
  height: 80%;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

h1 {
  font-family: 'MechTech', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  color: white;
}

h3 {
  font-size: 2em;
  text-align: center;
  color: white;
  letter-spacing: 0.3em;
}

h3 .brand , h3 a.brand, h3 .brand a{
  font-family: 'Flavors', sans-serif;
    /*color: #ff5722; */
    color: #36ff22;
    text-decoration: overline;
    line-height: 3;
}

.message {
  fill: wheat !important;
}

.footer {
  font-family: monospace;
  color: white;
	text-align: center;
    margin-bottom: 4em;
}

rect.st0.stick.first {
  fill: crimson;
}

rect.st0.stick.second {
  fill: yellow;
}

rect.st0.stick.third {
  fill: darkorchid;
}

rect.st0.stick.fourth {
  fill: white;
}

/* begin nav */

.navire {
  background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1471359656/navire_n02z6s.png) no-repeat;
  background-size: 100% auto;
  width: 120px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: -130px;
  transition: right 0.2s ease;
}

.mainMenuOverlay.open .navire {
  right: 70%;
  transition: right 28s ease 1s;
}

/* ### main Menu Overlay */
.mainMenuOverlay {
  background-color: rgba(195, 34, 34, .84);
  position: fixed;
  left: 0;
  right: 0;
  bottom: -420px;
  z-index: 999;
  height: 420px;
  box-shadow: 0 0 15px -3px #03374A;
  border-radius: 100% 100% 0 0/14% 14% 0 0;
  transition: bottom 0.5s ease;
}

.mainMenuOverlay.open {
  bottom: 0;
}

.mainMenuOverlay .toggleMenu {
  display: block;
  /*background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/sandwich.png) no-repeat center center #65B5D0;background-size: 23px auto;*/
  background-color: #4caf50;
  border: 1px solid #FFF;
  border-radius: 80px;
  width: 62px;
  height: 62px;
  position: absolute;
  top: -12px;
  left: 50%;
  margin: -31px 0 0 -31px;
  cursor: pointer;
  font-size: 24px;
  color: #FFF;
  text-align: center;
  line-height: 62px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 0 16px -4px #063343;
  transition: box-shadow 0.5s ease, top 0.5s ease;
}

.mainMenuOverlay.open .toggleMenu {
  top: 50%;
  background-color: #4caf50;
}

.mainMenuOverlay .itemMenuBox {
  background: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/go2.png) no-repeat center center;
  background-size: 28px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -31px 0 0 -31px;
  height: 62px;
  width: 142px;
  text-align: right;
  border-radius: 40px;
  transform-origin: 31px 31px;
  transition: all 1s ease 0.4s;
}

.mainMenuOverlay.open .itemMenuBox {
  width: 182px;
  transition: all 1s ease 0s;
}

.mainMenuOverlay .itemMenuBox.bills {
  transform: rotate(270deg);
}

.mainMenuOverlay .itemMenuBox.tarsheed {
  transform: rotate(330deg);
}

.mainMenuOverlay .itemMenuBox.employees {
  transform: rotate(30deg);
}

.mainMenuOverlay .itemMenuBox.location {
  transform: rotate(90deg);
}

.mainMenuOverlay .itemMenuBox.eservices {
  transform: rotate(150deg);
}

.mainMenuOverlay .itemMenuBox.contact {
  transform: rotate(210deg);
}

.mainMenuOverlay .itemMenuBox .itemMenu {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  background-color: #1d1a1a;
  background-repeat: no-repeat;
  background-position: center center;
  width: 62px;
  height: 62px;
  border-radius: 40px;
  transition: all 0.8s ease;
  color: #FFF;
  font-size: 28px;
  line-height: 64px;
  text-align: center;
}

.mainMenuOverlay .itemMenuBox.bills .itemMenu {
  /*background-image: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/file.png);
  background-size: 20px auto;*/
  transform: rotate(90deg);
}

.mainMenuOverlay .itemMenuBox.tarsheed .itemMenu {
  /* background-image: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/tarsheed.png); 
  background-size: 38px auto;*/
  transform: rotate(30deg);
}

.mainMenuOverlay .itemMenuBox.employees .itemMenu {
  /*background-image: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/employees.png);
  background-size: 38px auto;*/
  transform: rotate(330deg);
}

.mainMenuOverlay .itemMenuBox.location .itemMenu {
  /*background-image: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/marker.png);
  background-size: 24px auto;*/
  transform: rotate(270deg);
}

.mainMenuOverlay .itemMenuBox.eservices .itemMenu {
  /*background-image: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/mouse.png);
  background-size: 32px auto;*/
  transform: rotate(210deg);
}

.mainMenuOverlay .itemMenuBox.contact .itemMenu {
  /*background-image: url(https://res.cloudinary.com/dioieuprs/image/upload/v1466688705/floating-menu/phone.png);
  background-size: 19px auto;*/
  transform: rotate(150deg);
}

/* Hover */
.mainMenuOverlay .itemMenuBox.bills .itemMenu:hover {
  transform: rotate(450deg);
}

.mainMenuOverlay .itemMenuBox.tarsheed .itemMenu:hover {
  transform: rotate(390deg);
}

.mainMenuOverlay .itemMenuBox.employees .itemMenu:hover {
  transform: rotate(690deg);
}

.mainMenuOverlay .itemMenuBox.location .itemMenu:hover {
  transform: rotate(630deg);
}

.mainMenuOverlay .itemMenuBox.eservices .itemMenu:hover {
  transform: rotate(570deg);
}

.mainMenuOverlay .itemMenuBox.contact .itemMenu:hover {
  transform: rotate(510deg);
}

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
.floating2 {
  -webkit-animation-name: Floatingx2;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating2;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx2 {
  from {
    -webkit-transform: translate(0, 0px);
  }
  45% {
    -webkit-transform: translate(0, 8px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
.floating3 {
  -webkit-animation-name: Floatingx3;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating3;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx3 {
  from {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(2px, 4px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}


/* end nav */

.st0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
  stroke: #9e9e9e;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.smoke {
  stroke-dasharray: 1 5 4 7 2 6;
  stroke-dashoffset: 0;
  animation: burn 7s linear infinite reverse;
}

@keyframes burn {
  100% {
    stroke-dashoffset: 65;
  }
}

.intro {
    color: ghostwhite;
    font-size: large;
    text-align: center;
    font-family:math;
}
